.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.5px;
  border: none;
  border-radius: 1.25rem; /* --b-5 */
  cursor: pointer;
}

.medium {
  padding: 0.5rem 1.5rem; /* --p-2, --p-4 */
  font-weight: 500; /* --font-weight-500 */
  font-size: 1.125rem; /* --font-size-1-button-text */
}

.small {
  padding: 0.25rem 0.5rem; /* --p-1, --p-2 */
  font-weight: 400; /* --font-weight-400 */
  font-size: 16px;
}

.equalRounded {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.primary {
  color: #ffffff; /* --color-white-100 */
  background: #7a5fcc; /* --color-purple-500 */
}

.primary:hover {
  background: #512ac7; /* --color-lavender-300 */
  transition: all 0.3s; /* приблизно замість var(--transition-time) */
}

.primaryDisabled {
  color: #ffffff;
  background: #e5e7ed; /* --color-disable */
  cursor: auto;
}

.primaryMedium {
  padding: calc(0.5rem + 1px) calc(1.5rem + 1px);
}

.primarySmall {
  padding: calc(0.25rem + 1px) calc(1rem + 1px);
}

.secondary {
  color: #01cacc; /* --color-green */
  background: linear-gradient(#ffffff, #ffffff) padding-box,
  linear-gradient(95.77deg, #00d7bd -14.06%, #03bfd9 101.51%); /* --gradient-6 */
  border: 1px solid transparent;
}

.secondary:hover {
  color: #0be9ee;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
  linear-gradient(95.77deg, #09f2d6 -14.06%, #09e1ff 101.51%); /* --gradient-5 */
  border: 1px solid transparent;
  transition: all 0.3s;
}

.secondaryDisabled {
  color: #e5e7ed; /* --color-disable */
  background: linear-gradient(#ffffff, #ffffff) padding-box,
  #e5e7ed;
  border: 1px solid transparent;
  cursor: auto;
}

.plain {
  color: #3242df; /* --color-blue-500 */
  background: none;
}

.plain:hover {
  color: #163676; /* --color-blue-600 */
  transition: all 0.3s;
}

.plainDisabled {
  color: #e5e7ed; /* --color-disable */
  background: none;
  cursor: auto;
}

.round {
  color: #ffffff; /* --color-white-100 */
  background-color: #3242df; /* --color-blue-500 */
}

.transparent {
  color: #ffffff00; /* --color-white-transparent */
  background-color: transparent;
}

.delete {
  color: #dc2430; /* --color-warning */
  background: linear-gradient(#ffffff, #ffffff) padding-box,
  #dc2430;
  border: 1px solid transparent;
}

.delete:hover {
  color: #f14c52; /* --color-red-300 */
  background: linear-gradient(#ffffff, #ffffff) padding-box,
  #f14c52;
  border: 1px solid transparent;
  transition: all 0.3s;
}
